<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="27465PiyushBajaj.BalloonsBurster" Version="1.0.0.17" Publisher="CN=77C1A7D1-9715-4FB2-8374-A9B09A163FD4" />
  <Properties>
    <DisplayName>Balloons Burster</DisplayName>
    <PublisherDisplayName>Piyush Bajaj</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Balloons Burster" Logo="images\BalloonsLogo.png" SmallLogo="images\smalllogo.png" Description="Balloons Burster" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\Wide310x150Logo.png" />
        <SplashScreen Image="images\splashlogo.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>